* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  margin: 0;
}

.cutlery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 5px;
}

.list-group {
  overflow: auto;
  height: 400px;
  border-radius:5%;
}
.picture{
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
}